<% var title = 'Partie administration' %>
<% include head %>
<div class="container" >
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-6 col-sm-offset-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h1 class="panel-title"><strong>Administration  </strong></h1>
                </div>
                <div class="panel-body">
                    <a href="/gestionE" class="btn btn-block btn-info"><span class="glyphicon glyphicon-user"></span> Gestion des Etudiants </a> <br />
                    <a href="/gestionC" class="btn btn-block btn-success"><span class="glyphicon glyphicon-book"></span> Gestion Cours </a> <br />
                    <a href="/logout" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-off"></span> Déconnexion </a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot%>