<% var title = 'Gestion des etudiants' %>
<% include head %>
<div class="container" >
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-6 col-sm-offset-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h1 class="panel-title"><strong>Administration Etudiant</strong></h1>
                </div>
                <div class="panel-body">
                    <a href="/listeE" class="btn btn-block btn-info"><span class="glyphicon glyphicon-user"></span> Liste des etudiants</a> <br />
                    <a href="/ajoutE" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter un etudiant </a> <br />
                    <a href="/modifE" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-cog"></span> Modifier un etudiant </a> <br />
                    <a href="/suppE" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer un etudiant </a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot%>