<% var title = 'Gestion des etudiants' %>
<% include head %>
<div class="container" >
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-6 col-sm-offset-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h1 class="panel-title"><strong>Administration cours</strong></h1>
                </div>
                <div class="panel-body">
                    <a href="/presenceC" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-list"></span> Feuille de présence</a> <br />
                    <a href="/listeC" class="btn btn-block btn-info"><span class="glyphicon glyphicon-user"></span> Liste des cours</a> <br />
                    <a href="/ajoutC" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter cours </a> <br />
                    <a href="/modifC" class="btn btn-block btn-warning"><span class="glyphicon glyphicon-cog"></span> Modifier cours </a> <br />
                    <a href="/suppC" class="btn btn-block btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer cours </a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot%>