<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
    <title><%= title %></title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="panel panel-default">
<header class="navbar" role="navigation">

            <div class="container">

                <div class="navbar-header">

                    <img src="/unice.png" width="150" height="70" align="left"/>
                    <img src="/iut.png" width="70" height="70" align="left"/>
                    <img src="/badgeuse.png"  align="center"/>


                </div>
                <div class="collapse navbar-collapse">



						
	 </div>
            </div>
</header>
</div>