Séléction cours datepicker submit fort
<% var title = 'ajout presence' %>
<% include head %>
<div class="container" >
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-6 col-sm-offset-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><strong>Feuille de présence </strong></h1>
                </div>
                <div class="panel-body">
                    <form method="post" action="/presenceC">

                        <div class="form-group">
                            <div class="dropdown">
                                <select id="cours" name="cours" >
                                    <% for(var i = 0; i < cours.length; i++) { %>
                                    <option value="<%= cours[i].id_c%>"> <%= cours[i].libelle %> <%= cours[i].heureDebut %> - <%= cours[i].heureFin %> </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <label for="Date">Date</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='date' class="form-control" id="date" name="date" />
                                         </div>
                                    </div>
                            <input type="submit" value="Afficher feuille de présence" class="btn btn-warning btn-block">
                            <a href="/gestionC"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<% include foot %>