<% var title = 'suppression etudiant' %>
<% include head %>
<div class="container" >
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-12 col-md-6 col-sm-offset-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><strong>Supprimer un étudiant </strong></h1>
                </div>
                <div class="panel-body">
                    <form method="post" action="/suppE">
                    <div class="dropdown">
                        <select class="form-control" id="etudiant" name="etudiant" >
                            <% for(var i = 0; i < eleves.length; i++) { %>
                                <option value="<%= eleves[i].id%>"> <%= eleves[i].prenom %> <%= eleves[i].nom %></option>
                            <% } %>
                        </select>
                    </div>
                    <br />
                    <input type="submit" value="Supprimer l'étudiant" class="btn btn-warning btn-block">
                    <a href="/gestionE"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<% include foot %>